@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

body{
    background-color: #E2E2E2;
    font-family: "Inter", sans-serif;
    background: linear-gradient(120deg, #000 30%, #0a011d 90%) no-repeat fixed;
}

@keyframes float {
0% { transform: translateY(0) rotate(0deg); }
25% { transform: translateY(-4%) rotate(-2deg); }
50% { transform: translateY(0) rotate(0deg); }
75% { transform: translateY(-3%) rotate(2deg); }
100% { transform: translateY(0) rotate(0deg); }
}


.animate-float {
animation: float 3.6s ease-in-out infinite;
transform-origin: center bottom;
}